.place__title {
  margin: 0;
  padding: 0;

  font-size: 72px;
  font-weight: 900;
  line-height: 76px;

  width: calc(0.078 * 100vw + 361px);
}

@media screen and (max-width: 900px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: calc(0.69 * 100vw - 190px);
  }
}

@media screen and (max-width: 750px) {
  .place__title {
    padding-left: var(--intro_padding);
    padding-right: var(--intro_padding);

    font-size: 32px;
    line-height: 35px;
  }
}