.places {
  margin: 0;
  padding: 0 var(--intro_padding) 92px;

  display: grid;
  gap: 80px;
}

@media screen and (max-width: 900px) {
  .places {
    gap: 73px;
  }
}

@media screen and (max-width: 750px) {
  .places {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 66px;
    gap: 50px;
  }
}