.place__article
{
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 26px;
    align-content: start;
}

@media screen and (max-width: 750px) 
{
  .place__article 
  {
    padding-left: var(--intro_padding);
    padding-right: var(--intro_padding);
  }
}
