.place__url-pointer
{
    display: inline-block; 
    opacity: 0; 
    position: absolute; 
    top:16px; 
    object-fit: contain;
    object-position: top;
  
}

.place:hover .place__url-pointer
{
    opacity: 1;
}
