.lead__title
{
    margin: 0 auto;
    padding: 0;
    padding-bottom: 32px;

    font-size: 96px;
    font-weight: 900;

    text-align: center;

    width: 720px;
}

@media screen and (max-width: 750px)
{
    .lead__title
    {
        padding-bottom: 16px;
        font-size: 40px;
        width: 288px;
    }
}