.header__langs
{
  margin: 46px 48px 0;
  padding: 0;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  list-style-type: none;

  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 750px)
{
  .header__langs
  {
    margin: 30px 16px 0;

    font-size: 18px;
    font-weight: 400;
  }
}