.cover__title {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;

  font-size: 72px;
  font-weight: 900;
  line-height: 76px;

  max-width: 560px;

  text-align: center;
}

@media screen and (max-width: 720px) {
  .cover__title {
    font-size: calc(100vw/720.0*72);
    line-height: calc(100vw/720.0*72 + 3px);
    max-width: 248px;
    padding-bottom: 16px;
  }
}