.place__website
{
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 12px;
  align-content: end;

  align-self: end;
}

@media screen and (max-width: 750px) 
{
  .place__website 
  {
    padding-left: var(--intro_padding);
    padding-right: var(--intro_padding);
  }
}
